
.box {
    background: #2c2e2d;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    color: white;
}
.box button {
    background: #343A40  ;
    border: none;
    padding: 19px 30px;
    font-size: 26px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 2px solid orange;
}
.box .info {
    background: #343A40 ;
    height: 0;
    overflow: hidden;
    transition: height 0.4s, padding 0.4s;
}
.box .info li {
    list-style: inside;
}
.box.active .info {
    height: max-content;
    padding: 25px;
    border-top: 3px solid var(--Primary-color);
}
button i {
    transition: transform 0.4s;
}
button.rotate-icon i {
    transform: rotate(180deg);
}