.App {
  text-align: center;
}



.logo-container{
      display: flex  ;
      align-items: center;
      text-decoration: none;
      gap: 10px;
      margin-right: 30px;
}
.logo-container img{
  height: 40px;
}
.logo-container h5{
  margin-top: 11px;
  color: black;
}

.navbar-nav{
      display: flex  ;
      align-items: center;
      
}
.navbar-nav>div{
  display: flex  ;
  align-items: center;
}
.navbar-nav>div h5{
  margin: unset;
}
.signout{
  text-decoration: none;
  color: black;
  margin-inline: 17px;
}
.IconHolder{
  position: relative;
}
.IconHolder span{
  position: absolute;
  top: -13px;
  left: 15px;
  background: #ff00008a;
  border-radius: 50%;
  padding: 0px 5px;
}
.IconHolder  svg{
  font-size: 23px;
}
.wishlist .nav-link{
  padding: 5px !important;
}
.cart  .nav-link{
  padding: 5px !important;
}
.navbar-nav span{
  margin-inline: 3px;
}


.offline{
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 20px;
  padding: 10px 50px;
}

.flex{
  display:flex ;
  align-items: center;
  justify-content: space-between;
}

.btn{
  border: none;
  background: transparent;
  color: black;
  padding: 0px !important;
  margin: 0px !important;
}

.btn-Register{
  background: #13901d;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
}
.btn-login{
  background: #13901d;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
}
.btn-cart{
  background: #13901d;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 5px 12px;
}
.brdr{
  border: 1px solid #13901d !important;
  border: none;
  background: transparent;
  color: black;
  width: 24px;
}




.custom-link {
  text-decoration: none;
  color: inherit;
}




.boder-top{
  border-top: 4px solid rgba(255, 166, 0, 0.432);
  width: 100%;
  padding-top: 3px;

}
.padding-top{
  padding-top: 20px;
}








.title{
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.title::before{
  content: '';
  position: absolute;
  width: 139px;
  bottom: -4px;
  left: 45%;
  border-bottom: 3px solid orange;
}

.text-D{
  text-decoration: none;
}










.holderImage{
  height: 100px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  column-gap: 1px;
  row-gap: 2px;
}
.holderImage img{
  border: 1px solid #13901d;
}











.swiper-pagination-bullet {
  background-color: rgba(255, 166, 0, 0.582) !important; /* لون النقاط */
}

.swiper-pagination-bullet-active {
  background-color: darkgoldenrod !important; /* لون النقطة النشطة */
}











/* sort */
.holder-div{
  display: flex;
      align-items: center;
      justify-content: space-between;
}
.holder-div h5{
  padding: 0px;
  margin: 0px;
}
.filter{
  display: flex;
  flex-direction: column;
  position: relative;
}
.Sort{
      display: flex  ;
      align-items: center;
      gap: 6px;
      border: none;
      background: lightgray;
      color: white;
      padding: 9px 16px;
      padding-right: 8px;
      z-index: 2;
}
.value-sort{
  display: flex;
  align-items:center ;
  gap: 6px;
}
.value{
  position: absolute;
  top: 46px;
  z-index: 1;
  left: 0px;
  background: #292c2b;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border-top: 3px solid orange;
  margin-top: 1px;
  visibility: hidden;
  padding: unset  ;
}

.value li{
  color: white;
  list-style: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.value li:hover {
  background: #444;
}








/* brand */
.card-body {
  visibility: hidden; 
  transition:  0.3s ease-out; 

}

.card:hover .card-body {
  visibility: visible; 
}












.btn-Address{
  background: #13901d;
  width: 100%;
  color: white !important;
}