body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-nav .nav-link.active {
  color: rgb(48, 197, 34) !important;
  font-weight: bolder;
}


.text-main{
  color: rgb(48, 197, 34) !important;
}
.mainBack{
  background: #8080804a;  
}







.product:hover{
  border: 1px solid rgb(48, 197, 34) !important ;
}



.cursor-pinter{
  cursor: pointer;
}
.rating-color{
  color: #ffc908;
}
.product .btn-product{
  transition: transform 1s ,opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}

.product:hover .btn-product{
  opacity: 1;
  transform: translateY(0%);
  /* background: rgb(48, 197, 34) !important; */
  color: white;
}

.btn-backgroung{
    background: rgb(48, 197, 34) !important;
}




.flex{
  display: flex;
  align-items: center;
  gap: 10px;
}









.text-red-500 {
  color: #ff0000; /* اللون الأحمر */
}

.fontIcon {
  font-size: 24px;
  cursor: pointer;
}